<div class="col-md-4">

    <!-- Ad widget -->
    <div class="widget center-block hidden-xs">
        <img class="center-block" src="./img/ad-1.jpg" alt="">
    </div>
    <!-- /Ad widget -->
    <!-- article widget -->
    <div class="widget">
        <div class="widget-title">
            <h2 class="title">Featured Posts</h2>
        </div>

        <!-- owl carousel 4 -->
        <div id="owl-carousel-4" class="owl-carousel owl-theme">
            <!-- ARTICLE -->
            <article class="article thumb-article">
                <div class="article-img">
                    <img src="./img/img-thumb-1.jpg" alt="">
                </div>
                <div class="article-body">
                    <ul class="article-info">
                        <li class="article-category"><a href="#">News</a></li>
                        <li class="article-type"><i class="fa fa-video-camera"></i></li>
                    </ul>
                    <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                    <ul class="article-meta">
                        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                        <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                </div>
            </article>
            <!-- /ARTICLE -->
            <!-- ARTICLE -->
            <article class="article thumb-article">
                <div class="article-img">
                    <img src="./img/img-thumb-2.jpg" alt="">
                </div>
                <div class="article-body">
                    <ul class="article-info">
                        <li class="article-category"><a href="#">News</a></li>
                        <li class="article-type"><i class="fa fa-video-camera"></i></li>
                    </ul>
                    <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                    <ul class="article-meta">
                        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                        <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                </div>
            </article>
            <!-- /ARTICLE -->
        </div>
        <!-- /owl carousel 4 -->
    </div>
    <!-- /article widget -->

</div>
