@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>


<p>Trabalho realizado por:</p>
<p>- João Canoso Nº 18839</p>
<br />
<p>Frontend:</p>
<p>Tema: <a href="https://colorlib.com/wp/template/magnews/">Magnews</a> by colorlib.com (Licença Creative Commons 3.0)</p>
<p>- Bootstrap v3.3.7 (Licença MIT)</p>
<p>- Font Awesome v5.1 (Free)</p>
<p>- jQuery v2.2.4 (Licença MIT)</p>
<br />
<p>Backend:</p>
<p>Tema: <a href="https://github.com/ddtechie/startbootstrap-sb-admin-3">SB Admin 3</a> by David Miller</p>
<p>- Bootstrap v3.3.7 (Licença MIT)</p>
<p>- Font Awesome v5.1 (Free)</p>
<p>- jQuery v2.2.4 (Licença MIT)</p>
<br />
<p>NuGet:</p>
<p>- SendGrid v6.3.4</p>
<p>- EntityFramework v6.2.0</p>
<p>- TinyMCE v4.8.0</p>
<br />
<p>Administrador</p>
<p>Username: admin</p>
<p>Password: Teste123!</p>
<br />
<p>Moderador</p>
<p>Username: moderador</p>
<p>Password: Teste123!</p>
<br />
<p>Utilizador</p>
<p>Username: utilizador</p>
<p>Password: Teste123!</p>