@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>
    Trabalho realizado por:
    João Canoso Nº 18839

    Frontend:
    Tema: Magnews by colorlib.com (Licença Creative Commons 3.0)
    - Bootstrap 3.3.7 (Licença MIT)
    - Font Awesome
    - jQuery 2.2.4 (Licença MIT)

    Backend:

    NuGet:
    - SendGrid
    - EntityFramework v6.2.0
    - TinyMCE v
    -
    </p>
